@import-normalize; /* bring in normalize.css styles */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto' sans-serif;
  background-color: #d8e8e7;
}

p,
h2,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --grey: #d8e8e7;
  --secondary: #858585;
  --blue: #6a9bd8;
  --online: #40c767;
  --offline: #ff5858;
  --primary: #282828;
  --bg: #ebf5fc;
  --main-shadow: -2px -2px 5px #ffffff, 3px 3px 5px rgba(0, 0, 0, 0.1);
}
